[submodule "deps/wheels"]
	path = deps/wheels
	url = https://github.com/rmartinho/wheels.git
[submodule "tools/vallus"]
	path = tools/vallus
	url = https://github.com/rmartinho/vallus
[submodule "deps/boost.math"]
	path = deps/boost.math
	url = https://github.com/boostorg/math.git
